.settlement_header .w {
    margin-top: 20px;
    height: 56px;
}

.logo {
    margin-top: 0;
}

.search_bar {
    width: 1002px;
    height: 36px;
    margin-left: 23px;
    float: left;
    margin-top: 10px;
}

.search_bar h2 {
    float: left;
    color: black;
    line-height: 36px;
    font-weight: normal;
}

.search {
    float: right;
}

.counts {
    color: #c81623;
    font-size: 16px;
    font-weight: normal;
}

.counts>span {
    margin-left: 7px;
}

.settlement_bar {
    height: 36px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.settlement_bar>ul {
    height: 36px;
    line-height: 36px;
}

.settlement_bar>ul li {
    height: 36px;
    float: left;
}

.settlement_bar>ul li:first-child {
    width: 117px;
}

.settlement_bar>ul li:first-child input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 5px;
}

.settlement_bar>ul li:nth-child(2) {
    width: 499px;
    text-align: center;
}

.settlement_bar>ul li:nth-child(3) {
    width: 131px;
    text-align: center;
}

.settlement_bar>ul li:nth-child(4) {
    width: 172px;
    text-align: center;
}

.settlement_bar>ul li:nth-child(5) {
    width: 150px;
    text-align: center;
}

.settlement_bar>ul li:nth-child(6) {
    width: 108px;
    text-align: center;
}


.shop {
    margin-top: 20px;
}

.shop_bar {
    height: 24px;
    line-height: 24px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
}

.shop_name {
    float: left;
}

.shop_name input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 5px;
}

.fare {
    float: right;
}

.fare>span:nth-child(2) {
    margin-left: 9px;
    color: #c81623;
}

.selected_goods {
    border: 1px solid #ddd;
}

.selected_goods>ul li {
    border-bottom: 1px solid #ddd;
}

.selected_goods>ul li:last-child {
    border-bottom: 0;
}

.selected_goods_item {
    width: 1190px;
    margin: 12px 0 12px 4px;
}

.plus_pur {
    height: 20px;
    line-height: 20px;
    margin-left: 4px;
    margin-bottom: 23px;
}

.plus_pur_tag {
    display: inline-block;
    width: 46px;
    height: 20px;
    border: 1px solid #c81623;
    background-color: white;
    color: #c81623;
    text-align: center;
    margin-right: 17px;
}

.plus_pur>p>em {
    color: #808080;
}

.plus_pur>p .iconfont {
    font-size: 12px;
    margin: 0 7px;
}

.plus_pur_check {
    width: 70px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #c81623;
    color: white;
    background-color: #c81623;
    margin-left: 11px;
    margin-right: 6px;
}

.selected_btn {
    position: relative;
    float: left;
    width: 117px;
    height: 100%;
}

.selected_btn input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
}

.selected_btn a {
    display: block;
    width: 82px;
    height: 82px;
    margin-left: 17px;
    border: 1px solid #ddd;
}

.selected_btn a img {
    width: 80px;
    height: 80px;
}

.selected_name {
    float: left;
    width: 489px;
    height: 100%;
    margin-left: 10px;
}

.name_box {
    float: left;
    width: 233px;
    height: 100%;
}

.name_box>p:first-child {
    height: 30px;
    width: 233px;
    white-space: wrap;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.gift {
    width: 233px;
}

.other_specify {
    width: 233px;
    margin-top: 10px;
    color: #999;
}

.gift_icon {
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    margin-right: 7px;
    background: url(../images/icons.png) no-repeat -526px -78px;
}

.gift_name {
    float: left;
    width: 206px;
    height: 14px;
    display: -webkit-box;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.other_specify>em {
    display: block;
    float: left;
    width: 10px;
    height: 14px;
}

.property_box {
    float: left;
    width: 256px;
    height: 100%;
    padding-left: 10px;
}

.property_box p {
    height: 14px;
    line-height: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.select_price {
    float: left;
    width: 131px;
    height: 100%;
    color: black;
    font-size: 16px;
    text-align: center;
}

.select_count {
    float: left;
    width: 172px;
    height: 100%;

}

.select_count>button {
    width: 30px;
    height: 30px;
    float: left;
    background-color: white;
    border: 1px solid #ddd;
    color: black;
}

.select_count>input {
    float: left;
    width: 41px;
    height: 30px;
    margin: 0 -1px;
    outline: none;
    color: black;
    text-align: center;
    border: 1px solid #ddd;
}

.selected_sum {
    float: left;
    width: 150px;
    font-size: 16px;
    text-align: center;
}

.selected_oper {
    width: 108px;
    float: right;
}

.cehcked_bar {
    height: 52px;

    border: 1px solid #ddd;
    margin: 21px 0 20px 0;
}

.cehcked_bar>ul,
.cehcked_bar>ul>li {
    float: left;
    line-height: 52px;
    height: 50px;
}

.cehcked_bar>ul>li:first-child {
    margin-left: 4px;
    margin-right: 19px;
}

.cehcked_bar>ul>li:first-child input {
    vertical-align: text-top;
    margin-right: 4px;
}

.cehcked_bar>ul>li:nth-child(n+2) {
    margin-right: 13px;
}

.checked_info {
    height: 50px;
    float: right;
}

.checked_info table {
    height: 50px;
    float: left;
    border: 0;
    margin-right: 10px;
}

.checked_info table tr {
    height: 25px;
    line-height: 25px;
}

.checked_info table tr td:first-child {
    text-align: right;
}

.checked_info table tr:first-child td:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    color: #c81623;
}

.sum_selected {
    width: 109px;
    height: 50px;
    background-color: #c81623;
    color: white;
    font-size: 16px;
    border: 0;
    letter-spacing: 10px;
}

.deleted_bar {
    height: 64px;
}

.deleted_bar>p {
    color: black;
    margin-bottom: 20px;
}

.deleted_item {
    height: 32px;
    background-color: #fffdee;
    color: #333;
    line-height: 32px;
    margin-bottom: 5px;
}

.deleted_item_name {
    float: left;
    width: 484px;
}

.deleted_item_name a {
    display: -webkit-box;
    width: 400px;
    padding-left: 16px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.deleted_item_price {
    float: left;
    height: 100%;
    width: 230px;
    text-align: center;
}

.deleted_item_count {
    float: left;
    width: 142px;
    height: 100%;
    text-align: center;
}

.deleted_item_oper {
    height: 100%;
    width: 336px;
    float: left;
    text-align: right;
    padding-right: 15px;
}

.deleted_item_oper>a:nth-child(2) {
    padding-left: 19px;
}

.settlement_like_box {
    height: 368px;
}

.settlement_like_bar {
    height: 41px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
}

.settlement_like_bar>a {
    display: block;
    float: left;
    width: 87px;
    height: 39px;
    color: #333;
    text-align: center;
    line-height: 39px;
}

.settlement_like_content {
    margin-top: 20px;
    height: 307px;
}

.settlement_like_content ul {
    position: relative;
    height: 307px;
}

.settlement_like_content ul li {
    float: left;
    height: 100%;
}

.settlement_like_content ul .prev,
.settlement_like_content ul .next {
    height: 307px;
    width: 39px;
}

.settlement_like_content ul .prev>a,
.settlement_like_content ul .next>a {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 19px;
    height: 49px;
    background-color: #ddd;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 49px;
}

.settlement_like_content ul .prev>a {
    left: 0;
}

.settlement_like_content ul .next>a {
    right: 0;
}

.settlement_like_item {
    width: 248px;
    height: 207px;
    border: 1px dotted #ddd;
    margin-left: -1px;
}

.sli_wrapper {
    width: 246px;
    height: 305px;
}

.sli_img a {
    display: block;
    text-align: center;
}

.sli_img {
    width: 246px;
    height: 181px;
}

.sli_img img {
    width: 244px;
    height: 179px;
}

.sli_name {
    height: 30px;
    padding: 0 27px 0 20px;
    margin: 7px 0 12px 0;
    color: black;
    white-space: wrap;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sli_price {
    font-size: 16px;
    font-weight: bold;
    color: #ed4b20;
    text-align: center;
}

.sli_cart_btn {
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
}

.sli_cart_btn button {
    width: 125px;
    height: 30px;
    border: 1px solid #999;
}
.sli_cart_btn button .iconfont{
    margin-right: 7px;
}