@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff2??t=1698310635252') format('woff2'),
        url('../fonts/iconfont.woff?t=1698310635252') format('woff'),
        url('../fonts/iconfont.ttf?t=1698310635252') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    /* 照顾低版本浏览器 */
    border: 0;
    /* 取消图片地测有空白间隙的问题 */
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #c81623;
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
    -webkit-font-smooting: antialiased;
    font: 12px Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
    background-color: white;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}



/* 头顶工具栏 */
.w {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mar {
    margin-top: 25px;
}

.bar {
    height: 30px;
    background-color: #f1f1f1;
}

/* 登录 */
.sign {
    float: left;
    height: 30px;
    line-height: 30px;
}

.sign p span:nth-child(2) a {
    color: red;
}

/* 菜单栏 */
.menubar {
    float: right;
    height: 30px;
}

.menubar ul {
    position: relative;
}

.menubar ul li {
    float: left;
    padding: 0 15px;
    line-height: 30px;
    border-right: 1px solid #666;
}

.menubar ul li:last-child {
    border: 0;
}

.menubar ul li a span {
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
}

/* header */
header {
    border-bottom: 2px solid red;
}

.top_box {
    height: 105px;
}

/* logo */
.logo {
    width: 175px;
    height: 56px;
    margin-top: 25px;
    float: left;
}

.logo img {
    width: 100%;
}

/* 搜索框 */
.search_box {
    width: 535px;
    float: left;
    margin-left: 172px;
    margin-top: 25px;
}

.search input {
    width: 455px;
    height: 32px;
    border: 2px solid #b1191a;
    border-right: 0;
    float: left;
    padding-left: 10px;
    line-height: 32px;
    outline: none;
}

/* 热词展示 */
.search .search_btn {
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: white;
    font-size: 16px;
    border: 0;
}

.hot_word ul li {
    float: left;
    padding: 7px 12px 0 12px;
}

.hot_word ul li:first-child a {
    color: #c81623;
}

/* 我的购物车 */
.shopcart {
    float: left;
    position: relative;
    height: 32px;
    width: 140px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    margin-left: 111px;
    margin-top: 25px;
    text-align: center;
    line-height: 32px;
}

.shopcart .message {
    position: absolute;
    top: -4px;
    right: 18px;
    width: 16px;
    height: 16px;
    background-color: #c81623;
    color: white;
    line-height: 16px;
    border-radius: 8px 8px 8px 0;
}

.shopcart a {
    display: block;
    width: 140px;
    height: 32px;
    line-height: 32px;
}

.shopcart a span:nth-child(n-1) {
    display: block;
    float: left;
}

.shopcart a span:first-child {
    width: 20px;
    height: 18px;
    margin: 10px 6px 10px 18px;
    background: url(../images/icons.png) no-repeat -414px -89px;
}

.shopcart a .iconfont {
    font-size: 10px;
    margin-left: 14px;
}

/* 全部分类+导航栏 */
.category {
    float: left;
    width: 208px;
    height: 45px;
    background-color: #b1191a;
}

.category p {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 45px;
}

.bottom_box nav {
    float: left;
    width: 711px;
    height: 45px;
    margin-left: 20px;
}

.bottom_box nav ul li {
    float: left;
    padding: 0 21px;
    font-size: 16px;
    line-height: 45px;
}

.sub_category {
    position: absolute;
    top: 167px;
    left: -77px;
    width: 66px;
}

.sub_category ul {
    width: 66px;
}

.sub_category ul li {
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #ededed;
}

.sub_category ul li a {
    display: block;
    height: 30px;
}

.sub_category ul li a:hover {
    background-color: #c81623;
    color: white;
}

/* 分类列表 */

.category_list ul {
    width: 208px;
    float: left;
    background-color: #c81623;
}

.category_list ul li {
    float: left;
    height: 31px;
}

.category_list ul li a {
    display: block;
    position: relative;
    width: 208px;
    height: 31px;
    line-height: 31px;
    color: white;
    font-size: 14px;
    padding-left: 12px;
}

.category_list ul li a:hover {
    background-color: white;
    color: #c81623;
}

.category_list ul li a::after {
    position: absolute;
    height: 31px;
    right: 10px;
    content: ">";
    color: white;
    line-height: 31px;
}

.sub_category_list {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 208px;
    width: 992px;
    height: 465px;
    background-color: #f7f7f7;
}



.sub_left_box {
    float: left;
    width: 718px;
    height: 465px;
}

.sub_list_bar {
    margin: 22px 0 0 22px;
}

.sub_list_bar a {
    display: block;
    height: 27px;
    line-height: 27px;
    background-color: #7c7171;
    float: left;
    padding-left: 8px;
    margin-right: 9px;
    color: white;
}

.sub_list_bar a:hover {
    color: #c81623;
}

.sub_list_bar a>span {
    width: 25px;
    margin-left: 8px;
    float: right;
    color: white;
    text-align: center;
    background-color: #5c5251;
}

.sub_list a {
    display: block;
}

.sub_list dl {
    float: left;
    margin-top: 18px;
    margin-left: 53px;
    width: 665px;
}

.sub_list dl dt {
    float: left;
    font-weight: bold;
}

.sub_list dl dt a {
    color: black;
}

.sub_list dl dt a:hover {
    color: #c81623;
}

.sub_list dl dt a::after {
    content: ">";
    padding: 0 16px;
}

.sub_list dl dd {
    padding: 0 9px;
    float: left;
    border-left: 1px solid #cecece;
}

.sub_right_box {
    float: left;
    width: 274px;
    height: 465px;
    background-color: #ebebeb;
}

.sub_right_box h3 {
    padding-top: 24px;
    text-align: center;
    color: black;
}

.sub_right_box h3 span {
    margin-right: 9px;
}

.sub_right_box p {
    text-align: center;
}

.sub_right_box p:first-child {
    color: black;
}

.sub_right_box ul li {
    width: 116px;
    height: 160px;
    float: left;
    margin-left: 17px;
    margin-top: 28px;
    background-color: white;
}

.sub_right_box ul li a {
    display: block;
    height: 160px;
}

.sub_right_box ul li a img {
    width: 100%;
}




/* 轮播图 */
.swipper {
    float: left;
    width: 721px;
    height: 456px;
    margin: 10px;
    margin-bottom: 0;
}

.swipper img {
    width: 100%;
}

/* 右侧侧边栏 */
.w>aside {
    width: 250px;
    margin-top: 10px;
    float: left;
}

.w>aside .service_box {
    width: 250px;
    height: 372px;
}

.news {
    height: 163px;
    width: 250px;
}

.news ul {
    border: 1px solid #e4e4e4;
}

.news ul li:first-child {
    height: 33px;
    border-bottom: 1px dotted #999;
}

.news ul li:first-child h3 {
    display: block;
    float: left;
    font-weight: normal;
    line-height: 33px;
    margin-left: 15px;
}

.news ul li:first-child a {
    display: block;
    float: right;
    line-height: 33px;
    margin-right: 15px;
}

.news ul li:first-child a .iconfont {
    font-size: 12px;
    padding-left: 7px;
}

.news ul li:nth-child(n+2) {
    padding: 5px 0 5px 16px;
}

.service {
    width: 250px;
    height: 210px;
}

.service ul {
    border: 1px solid #e4e4e4;
    width: 250px;
    height: 210px;
    margin-top: -1px;
}

.service ul li {
    float: left;
    width: 62px;
    height: 70px;
    border: 1px solid red;
    margin-top: -1px;
}

.service ul li:nth-child(n-8) {
    margin-top: -1px;
}

.service ul li a {
    display: block;
}

.service ul li a .service_pic {
    width: 62px;
    height: 40px;
    /* background: url(../images/icons.png) no-repeat -19px -15px; */
}

.service ul li a .service_pic span {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    margin-top: 6px;
    background: url(../images/icons.png) no-repeat;
}

/* 第一行 的y */
.service ul li:nth-child(n-8) a .service_pic span {
    background-position-y: -15px;
}

/* 第二行y */
.service ul li:nth-child(n+4) a .service_pic span {
    background-position-y: -87px;
}

/* 第三行的y */
.service ul li:nth-child(n+8) a .service_pic span {
    background-position-y: -158px;
}

/* 第一列的x */
.service ul li:nth-child(1) a .service_pic span,
.service ul li:nth-child(5) a .service_pic span,
.service ul li:nth-child(9) a .service_pic span {
    background-position-x: -19px;
}

/* 第二列的x */
.service ul li:nth-child(2) a .service_pic span,
.service ul li:nth-child(6) a .service_pic span,
.service ul li:nth-child(10) a .service_pic span {
    background-position-x: -78px;
}

/* 第三列的x */
.service ul li:nth-child(3) a .service_pic span,
.service ul li:nth-child(7) a .service_pic span,
.service ul li:nth-child(11) a .service_pic span {
    background-position-x: -141px;
}

/* 第四列的x */
.service ul li:nth-child(4) a .service_pic span,
.service ul li:nth-child(8) a .service_pic span,
.service ul li:nth-child(12) a .service_pic span {
    background-position-x: -205px;
}


.service ul li a p {
    padding-top: 8px;
    text-align: center;
}

/* 广告栏 */
aside .banner_ad {
    width: 250px;
    height: 75px;
    margin-top: 5px;
}

aside .banner_ad a {
    display: block;

}

aside .banner_ad a img {
    width: 100%;
}

/* 今日推荐 */
.recommand_today {
    float: left;
    height: 162px;
    margin-top: 11px;
}

.recommand_today ul li {
    float: left;
    width: 208px;
    height: 162px;
    background-color: #5c5251;
}

.recommand_today ul li:nth-child(1) img {
    width: 57px;
    height: 57px;
    margin: 32px 74px 9px 74px;
}

.recommand_today ul li:nth-child(1) h2 {
    color: white;
    font-size: 18px;
    text-align: center;

}

.recommand_today ul li:nth-child(n+2) {
    width: 248px;
    height: 162px;
    border: 1px solid #ddd;
}

.recommand_today ul li:nth-child(n+2) a {
    display: block;
}

.recommand_today ul li:nth-child(n+2) a img {
    width: 100%;
}

.brick_interest {
    height: 271px;
}

.intro_bar {
    height: 38px;
    line-height: 38px;
}

.intro_bar>h3 {
    float: left;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}

.intro_bar>a {
    display: block;
    font-size: 12px;
    float: right;
    margin-right: 21px;
}

.intro_bar>a::after {
    content: "";
    display: block;
    float: right;
    margin: 9px;
    width: 16px;
    height: 16px;
    background: url(../images/icons.png) no-repeat -420px -109px;
}


.items ul {
    height: 231px;
    border: 1px solid #ededed;
}

.items ul li {
    float: left;
    width: 200px;
    height: 231px;
}

.items ul li:hover {
    z-index: 1;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    /* border: 1px solid #c81623; */
}

.items ul li:last-child {
    margin: 0 -1px;
}

.items_container {
    height: 231px;
}

.items_pic {
    height: 150px;
    width: 200px;
}

.items_pic a {
    display: block;
    text-align: center;
}

.items_pic a img {
    vertical-align: middle;
}

.items_info {
    width: 199px;
    height: 75px;
    border-right: 1px solid #ededed;
}

.items ul li:last-child .items_info {
    border: 0;
}

.items_title {
    margin: 0 36px;
}

.items_title h4 a {
    font-weight: normal;
    font-size: 12px;
}

.money {
    font-size: 16px;
    color: #df3033;
    margin-top: 8px;
    font-weight: bold;
}

.money span:first-child {
    font-size: 12px;
}

/* 品牌区 */
.brand_box {
    border: 1px solid #ededed;
}

.brand_box>div[class*="brand_col"] {
    height: 405px;
    float: left;
    border-right: 1px solid #ededed;
}

.brand_col1 {
    width: 404px;
    background-color: #b8bddd;
}

.brand_col1 a {
    display: block;
    width: 404px;
    height: 405px;
    color: #3b468d;
    position: relative;
}

.shop_info {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.shop_info h3 {
    font-size: 18px;
    font-weight: normal;
}

.shop_info p {
    font-size: 16px;
}

.brand_col1 a img {
    width: 225px;
    height: 262px;
    position: absolute;
    right: 55px;
    bottom: 30px;
}

.brand_col2 {
    width: 226px;
}

.brand_col2 ul li:first-child {
    width: 190px;
    height: 40px;
    border-bottom: 1px dotted #ededed;
    margin: 0 18px;
    text-align: center;
    line-height: 40px;
    color: #333;
}

.brand_col2 ul li:nth-child(2) {
    height: 206px;
    border-bottom: 1px solid #ededed;
}

.brand_col2 ul li:nth-child(2) a {
    display: block;
    height: 206px;
}

.brand_col2 ul li:nth-child(3) {
    height: 158px;
}

.brand_col2 ul li:nth-child(3) a {
    display: block;
    height: 158px;
}

.brand_col2 ul li:nth-child(n+1) a img {
    width: 100%;
}

.brand_col3 {
    width: 405px;
    background-color: #f7f7f7;
}

.brand_col3 ul li:first-child {
    width: 368px;
    height: 40px;
    border-bottom: 1px dotted #ededed;
    margin: 0 18px;
    text-align: center;
    line-height: 40px;
    color: #333;
}

.brand_col3 ul li:nth-child(2) {
    height: 206px;
    border-bottom: 1px solid #ededed;
}

.brand_col3 ul li:nth-child(2) a {
    display: block;
    height: 206px;
    text-align: center;
    line-height: 206px;
}

.brand_col3 ul li:nth-child(2) a img {
    width: 100%;
}

.brand_col3 ul li:nth-child(3) a {
    display: block;
    float: left;
    width: 202px;
    height: 158px;
    text-align: center;
    line-height: 158px;
}

.brand_col3 ul li:nth-child(3) a:first-child {
    border-right: 1px solid #ededed;
}

.brand_col3 ul li:nth-child(3) a img {
    width: 100%;
}

.brand_col4 {
    width: 163px;
    border-right: 0 !important;
}

.brand_col4 ul {
    width: 162px;
    height: 405px;
}

.brand_col4 ul li {
    float: left;
    height: 58px;
    width: 76px;
    margin-left: 3px;
    border-right: 1px solid #ededed;
    border-bottom: 1px dotted #ededed;
}

.brand_col4 ul li:nth-child(even) {
    border-right: 0;
}

.brand_col4 ul li:nth-child(13),
.brand_col4 ul li:nth-child(14) {
    border-bottom: 0;
    height: 57px;
}

.brand_col4 ul li a {
    display: block;
    height: 57px;
    width: 76px;
    line-height: 57px;
    text-align: center;
}

.brand_col4 ul li a img {
    width: 100%;
}

/* 家用电器 */
/* .content_box {
   
} */

.tag_list {
    float: right;
    margin-top: 8px;
}

.tag_list ul li {
    float: left;
    padding: 0 14px 0 14px;
    line-height: 22px;
    border-right: 1px solid #999;
}

.tag_list ul li:last-child {
    border: 0;
}

.tag_list ul li a {
    text-align: center;
}

.item_box {
    height: 360px;
    border-top: 2px solid #c81623;
    background-color: #f9f9f9;
}

.item_box .col1,
.item_box .col2,
.item_box .col3,
.item_box .col4,
.item_box .col2 .litter_swipper a .dot li {
    float: left;
}

.item_box .col1,
.item_box .col1 .col1_bottom,
.item_box .col1 .col1_top ul,
.item_box .col1 .col1_bottom a {
    width: 209px;
}

.item_box .col1 {
    height: 360px;
    border-right: 1px solid #ededed;
}

.item_box .col1 .col1_top ul {
    height: 99px;
}

.item_box .col1 .col1_top ul li {
    float: right;
    width: 86px;
    height: 32px;
    border-bottom: 1px solid #ededed;
    margin-right: 12px;
    text-align: center;
    line-height: 32px;
}

.item_box .col1 .col1_bottom,
.item_box .col1 .col1_bottom a,
.item_box .col1 .col1_bottom a img {
    height: 260px;
}

.item_box .col1 .col1_bottom a,
.item_box .col2 .litter_swipper a,
.item_box .col3 a,
.item_box .col4 a {
    display: block;
}

.item_box .col1 .col1_bottom a img {
    width: 208px;
}

.item_box .col2,
.item_box .col2 .litter_swipper,
.item_box .col2 .litter_swipper a,
.item_box .col2 .litter_swipper a img {
    height: 360px;
    width: 330px;
}

.item_box .col2 {
    border-right: 1px solid #ededed;
}

.item_box .col2 .litter_swipper {
    position: relative;
}

.item_box .col2 .litter_swipper a img {
    width: 329px;
}

.item_box .col2 .litter_swipper a .dot {
    position: absolute;
    left: 142px;
    bottom: 15px;
}

.item_box .col2 .litter_swipper a .dot li {
    width: 10px;
    height: 10px;
    border-radius: 9px;
    margin-left: 6px;
    background-color: #3e3e3e;
}

.item_box .col2 .litter_swipper a .dot li:first-child {
    margin-left: 0;
}

.item_box .col3 {
    width: 220px;
    height: 360px;
    border-right: 1px solid #ededed;
}

.item_box .col3 a {
    width: 219px;
    height: 180px;
    border-bottom: 1px solid #ededed;
}

.item_box .col3 a img {
    width: 218px;
    height: 179px;
}

.item_box .col4 {
    width: 220px;
    height: 360px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.item_box .col4 a,
.item_box .col4 a img {
    width: 219px;
    height: 359px;
}

.brand_list_box {
    height: 65px;
    margin-top: 20px;
    background-color: #f7f7f7;
}

.brand_list_box ul {
    height: 39px;
    margin: 13px 0;
}

.brand_list_box ul li {
    float: left;
    width: 120px;
    border-right: 1px dotted #ccc;
}

.brand_list_box ul li:last-child {
    border-right: 0;
}

.brand_list_box ul li a {
    display: block;
    width: 120px;
    height: 39px;
}

.brand_list_box ul li a img {
    width: 119px;
    height: 38px;
}



.hot_box {
    height: 282px;
    width: 1200px;
    border: 1px solid #e5e5e5;
}

.hot_list,
.hot_list ul {
    float: left;
    width: 899px;
    height: 282px;
}

.hot_list ul li:first-child {
    float: left;
    width: 239px;
    height: 280px;
    border-right: 1px solid #ededed;
}

.hot_list ul li:first-child a {
    display: block;
    width: 239px;
    height: 280px;
}

.hot_list ul li:first-child a .hot_container {
    height: 229px;
    width: 194px;
    margin: 18px 16px 33px 29px;
}

.hot_list ul li:first-child .hot_container img {
    width: 100%;
}

.hot_list ul li:first-child .hot_container .hot_info {
    margin-top: 10px;
}

.hot_list ul li:first-child .hot_container .hot_info h4 {
    font-size: 12px;
    font-weight: normal;

}

.hot_list ul li:nth-child(n+2) {
    float: left;
    width: 221px;
    height: 141px;
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid #ededed;
}


.hot_list ul li:nth-child(n+2) a {
    display: block;
    width: 221px;
    height: 141px;
}

.hot_list ul li:nth-child(n+2) a .hot_container {
    height: 100px;
    width: 197px;
    margin: 18px 14px 22px 10px;
}

.hot_list ul li:nth-child(n+2) .hot_container img {
    float: left;
    width: 100px;
    height: 100px
}

.hot_list ul li:nth-child(n+2) .hot_container .hot_info {
    float: left;
    margin-left: 7px;
    width: 90px;
    height: 100px;
}

.hot_list ul li:nth-child(n+2) .hot_container .hot_info h4 {
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.hot_remark {
    float: left;
    width: 299px;
    height: 282px;
}

.hot_remark ul {
    width: 297px;
    height: 282px;
}

.hot_remark ul li {
    width: 297px;
    height: 140px;
}

.remark_box {
    width: 273px;
    height: 120px;
    margin: 10px 12px;
}

.remark_box a {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    text-align: center;
}

.remark_box a img {
    width: 100%;
}

.user_box {
    float: left;
    width: 164px;
    height: 120px;
    margin-left: 9px;
}

.user_info {
    height: 28px;
    margin-top: 10px;
}

.user_avator {
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.user_info p {
    line-height: 28px;
}

.user_remark {
    width: 157px;
    height: 54px;
    float: right;
    margin-top: 5px;
    position: relative;
    background-color: #f8f8f8;
}

.user_remark::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -14px;
    top: 20px;
    border: 7px solid transparent;
    border-right-color: #f8f8f8;
}

.user_remark span {
    display: inline-block;
    font-size: 16px;
    color: #aaa;
}

.user_remark>p {
    padding-left: 10px;
    padding-top: 5px;
}

footer {
    background-color: #f5f5f5;
    margin-top: 37px;
}

footer .w {
    height: 417px;
}

.footer_service {
    height: 110px;
}

.footer_service ul li {
    float: left;
    position: relative;
    width: 240px;
    height: 110px;
}

.footer_service ul li i {
    display: block;
    width: 53px;
    height: 53px;
    position: absolute;
    top: 30px;
    left: 35px;
}

.footer_service_info {
    height: 36px;
    float: left;
    position: absolute;
    top: 39px;
    left: 95px;
}

.footer_service ul li:first-child i {
    background: url(../images/icons.png) no-repeat -252px 0px;
}

.footer_service ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -254px -53px;
}

.footer_service ul li:nth-child(3) i {
    background: url(../images/icons.png) no-repeat -257px -103px;
}

.footer_service ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -257px -155px;
}

.footer_service ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -257px -208px;
}

.footer_links {
    height: 188px;
    border: 1px solid #ededed;
    border-left: 0;
    border-right: 0;
}

.footer_links dl {
    float: left;
    width: 200px;
    height: 188px;
    margin-top: 20px;
}

.footer_links dl dt {
    padding-bottom: 14px;

}

.footer_links dl dt,
.footer_links dl dd {
    padding-left: 48px;
}

.site_info {
    height: 120px;
}

.site_info ul {
    display: block;
    margin: 0 auto;
    height: 16px;
    width: 924px;
    margin-top: 20px;
}

.site_info ul li {
    float: left;
    width: 77px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-right: 1px solid #ededed;
}

.site_info ul li:last-child {
    border: 0;
}

.site_info>p {
    text-align: center;
}

.right_fix_box {
    width: 105px;
    text-align: center;
    line-height: 37px;
}

.right_fix_box a {
    display: block;
    height: 37px;
    color: white;
}
.right_fix_box a:hover{
    color: #c81623;
    background-color: white;
}
.right_fix_box a span{
    margin-left: 10px;
}
.my_info {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 53px;
    width: 105px;
    background-color: red;
}

.my_info ul li {
    height: 37px;
}

.to_top {
    width: 105px;
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}

.to_top ul li {
    height: 37px;
    text-align: center;
}